<div class="website_checklist">
    <div class="checklist_header">
    <h4>Checklist for the week</h4>
    </div>
    <ul>
    <li><input type="checkbox" name="item_0" id="item_0"><label for="item_0">List item 1</label><span class="input"></span></li>
    <li><input type="checkbox" name="item_1" id="item_1"><label for="item_1">List item 2</label><span class="input"></span></li>
    <li><input type="checkbox" name="item_2" id="item_2"><label for="item_2">List item 3</label><span class="input"></span></li>
    <li><input type="checkbox" name="item_3" id="item_3"><label for="item_3">List item 4</label><span class="input"></span></li>
    </ul>
    </div>
